.finalPageMainCont{
    width: 850px;
    height:600px;
    border: 20px solid grey;
    margin-left: 350px;
    margin-top: 20px;
    padding: 22px;
}

.finalPageCont{
    width: 85%;
    height: 480px;
    border: 2px solid black;
    margin-left: 60px;
    /* margin-top: 3px;  */
 }
.buttonsDiv{
    margin-left: 60px;
    width: 85%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.patientData Div{
    width: 100%;
    height:30px;
    border-bottom:  dotted black;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: large;
}



 
    
