.Cont{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 450px;
    height: 450px;
    padding: 25px;
    background-color: #ffffff;
    margin-left: 35%;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 12px;

    
}
h1{
    text-align: center;
    padding-top: 20px;
}
#credentials{
    font-size: 32px;
    font-weight: lighter;
    margin-left: 12px;
}
form input{
    padding:15px;
    margin: 10px;
    height: 60px;
}
.signIn button{
    width: 250px;
    padding: 10px;
}
#credentials {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 15px;
    margin-top: -31px;
  }
  
#credentials #note {
    font-weight: bold;
    margin-top: 0%;
  }




  button.guest-button {
    background-color: blue; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 10px 12px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; 
}

button.guest-button:hover {
    background-color: #1976d2; /* Darker green on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

button.guest-button:active {
    background-color:  #1976d2; /* Even darker green on active */
    transform: scale(0.98); /* Slightly smaller on active */
}











@media (max-width: 768px) {
    .Cont {
        width: 80%;
        margin-left: 10%;
        margin-top: 30px;
    }

    h1 {
        font-size: 1.5em;
    }

    #credentials {
        font-size: 28px;
        margin-left: 0;
    }

    form input {
        width: calc(100% - 20px);
    }

    .signIn button {
        width: 200px;
    }

    button.guest-button {
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 14px;
    }
}

/* Media Query for screens with max width of 480px (mobile) */
@media (max-width: 480px) {
    .Cont {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.2em;
        padding-top: 10px;
    }

    #credentials {
        font-size: 24px;
        margin-left: 0;
    }

    form input {
        width: calc(100% - 20px);
        height: 50px;
    }

    .signIn button {
        width: 150px;
    }

    button.guest-button {
        width: calc(100% - 20px);
        padding: 10px;
        font-size: 14px;
    }
}
